[submodule "lib/googletest"]
	path = lib/googletest
	url = https://github.com/google/googletest/
[submodule "lib/websocketpp"]
	path = lib/websocketpp
	url = https://github.com/zaphoyd/websocketpp
[submodule "lib/asio"]
	path = lib/asio
	url = https://github.com/chriskohlhoff/asio
[submodule "lib/glm"]
	path = lib/glm
	url = https://github.com/g-truc/glm
[submodule "lib/bitsery"]
	path = lib/bitsery
	url = https://github.com/fraillt/bitsery
[submodule "lib/easyloggingpp"]
	path = lib/easyloggingpp
	url = https://github.com/amrayn/easyloggingpp
